body{
    @include light;
    color: $text-color;
    height: 2000px;
}
.button-o{
    text-decoration: none;
    border: 2px solid $primary;
    padding: 17px 22px;
    font-size: 12px;
    @include bold;
    text-transform: uppercase;
    color: $primary;
    background-color: #ffffff;
}
.button{
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: $primary;
    color: #ffffff;
    @include bold;
}
.button-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid $primary;
    @include bold;
    text-transform: uppercase;
    //font-size: 12px;
    background-color: #ffffff;
    color: $primary;
    box-shadow: 0 0 3px rgba(#000000, 0.5);
}
.red{
    padding-left: 6px;
    padding-right: 3px;
    background-color: rgb(228, 24, 31);
}
.blue{
    padding-left: 3px;
    padding-right: 6px;
    background-color: rgb(54, 45, 134);
}