body{
    @include light;
    color: $text-color;
    height: 2000px;
}
img{
    max-width:100%
}
.section{
    padding: 100px 0;
    &-title{
        font-size: 30px;
        @include bold;
        text-align: center;
        text-transform: uppercase;
    }
    &__title{
        margin-bottom: 100px;
    }
}
.button-o{
    text-decoration: none;
    border: 2px solid $primary;
    padding: 17px 22px;
    font-size: 12px;
    @include bold;
    text-transform: uppercase;
    color: $primary;
    background-color: transparent;
}
.button{
    text-decoration: none;
    padding: 25px 45px;
    text-transform: uppercase;
    border: none;
    background-color: $primary;
    color: #ffffff;
    @include bold;
    &:hover{
        cursor: pointer;
    }
    &-fitting{
        color: $primary;
        background-color: #ffffff;
    }
    &-add{
        color: #ffffff;
        background-color: lighten($primary, 10%);
    }
    &-like{
        color: #ffffff;
        background-color: $primary;
    }
}
/*
.button-up{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 2px solid $primary;
    @include bold;
    text-transform: uppercase;
    //font-size: 12px;
    background-color: #ffffff;
    color: $primary;
    box-shadow: 0 0 3px rgba(#000000, 0.5);
}*/
.red{
    padding-left: 6px;
    padding-right: 3px;
    background-color: rgb(228, 24, 31);
}
.blue{
    padding-left: 3px;
    padding-right: 6px;
    background-color: rgb(54, 45, 134);
}
.bg-secondary{
    background-color: $bg-secondary;
}
.input{
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}
.select{
    height: 80px;
    border: 1px solid #dddddd;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 20px;
        height: 20px;
        background: url(/img/offer/chevron-down.png) no-repeat center;
        background-size: 100%;
    }
    &:hover{
        cursor: pointer;
    }
    &_checked{
        line-height: 80px;
        padding-left: 30px;
    }
    &__dropdown{
        position: absolute;
        top: 80px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        display: none;
        &_open{
            display: block;
        }
    }
    &__option{
        padding: 20px;
        &:hover{
            background-color: $bg-secondary;
        }
    }
}
.checkbox{
    display: none;
    &:checked + label:before{
        background-color: $primary;
    }
    &-label{
        display: flex;
        align-items: center;
        margin-right: 40px;
        &:hover{
            cursor: pointer;
        }
        &:before{
            content: "";
            height: 30px;
            width: 30px;
            border: 1px solid #dddddd;
            margin-right: 20px;
        }
    }
}
@media (max-width: 576px){
    .button{
        padding: 13px 23px;
        font-size: 10px;
        .button-o{
            font-size: 10px;
        }
    }
    .section{
        padding: 60px;
        &-title{
            font-size: 24px;
        }
    }
}