.about{
    &-block{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        &__text{
            flex-basis: 50%;
            margin-left: 35px;
            font-size: 16px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            p{
                margin-bottom: 20px;
                text-align: justify;
            }
            li{
                display: flex;
                align-items: center;
                margin-top: 10px;
                &:before{
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $text-color;
                    margin-right: 5px;
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 1199px){
    .about{
        &-block{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &__image{
                margin-bottom: 20px;
            }
            &__text{
               
                margin-left: 0;
            }
        }
    }
}