.hero{
    background: #f1f1f1 url("../../../img/mers.png") no-repeat center top 120px;
    background-size: cover 40%;
    padding-top: 180px;
    padding-bottom: 270px;
    &__title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    &__subtitle{
        display: block;
        margin-bottom: 67px;
        font-size: 30px;
        @include bold;
    }
}