.navbar{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(#510bba, 0.1);
    &-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__mobile, &__landline{
        text-align: right;
    }
    &__phone{
        display: block;
        font-size: 19px;
        margin-bottom: 5px;
        @include bold;
        text-decoration: none;
        color: $text-color;
    }
    &__small-text{
        display: block;
        font-size: 14px;
        color: $text-color-light;
        text-decoration: none;
    }
}
.menu{
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0;
    padding: 16px 0;
    background-color: $primary;
    transition: 0.3s;
    transform: translateY(-200%);
    opacity: 0;
    &_active{
        transform: translateY(0);
        opacity: 1;
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__link{
        text-decoration: none;
        font-size: 17px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-right: 1px solid rgba(#510bba, 0.1);
        border-left: 1px solid rgba(#510bba, 0.1);
        height: 80px;
        width: 80px;
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }
        &__lines{
            width: 25px;
            height: 20px;
            position: relative;
            border-bottom: 2px solid $burger;
            box-sizing: border-box;
            cursor: pointer;
            overflow: hidden;
            &:before{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                content: "";
                display: block;
                height: 2px;
                background: $burger;
                transition: all 0.5s;
            }
            &:after{
                position: absolute;
                left: 0;
                right: 0;
                top: 50%;
                content: "";
                display: block;
                height: 2px;
                background: $burger;
                transition: transform 0.5s, width 2s;
            }
            &_active{
                border: 0;
                &:before{
                    content: "";
                    display: block;
                    width: 100%;
                    transform: rotate(45deg);
                    background: $burger;
                    top: 100%;
                    margin-top: -45%;
                    left: 0;
                    margin-left: 0%;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    transform: rotate(-45deg);
                    background: $burger;
                    top: 100%;
                    margin-top: -45%;
                    left: 0;
                    margin-left: 0%;
                }
            }
        }
    }
}
.logo{
    &__text{
        color: #ffffff;
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        text-transform: uppercase;
        @include bold;
    }
    &__description{
        display: block;
        font-size: 14px;
        color: $text-color-light;
        font-size: 14px;
    }
}
@media (max-width: 991px){
    .navbar{
        &__mobile, &__landline{
            display: none;
        }
    }
}
@media (max-width: 768px){
    .menu{
        top: 60px;
        height: 100%;
        transition: 0.5s;
        &-button{
            height: 60px;
        }
        &__nav{
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
        }
        &__link{
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 576px){
    .logo {
        display: none;
    }
    
}