.price{
    &-block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__card{
            //по 3 карточки в ряду
            margin-right: 10px;
            margin-left: 10px;
            //
            margin-bottom: 10px;
        }
    }
    &-card{
        //flex-basis: 33.33%;
        background-color: #ffffff;
        position: relative;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        &__text{
            padding: 20px;
            font-size: 15px;
            &:hover{
                .price-card__button{
                    z-index: 99;
                    bottom: -80px;
                    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
                }
            }
        }
        &__title{
            margin: 0;
        }
        &__cost{
            @include bold;
        }
        &__pricetag{
            display: flex;
            justify-content: space-between;
        }
        &__button{
            text-align: center;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            width: 100%;
            //box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
            height: 80px;
            padding: 20px;
            padding-top: 0;
        }

    }
}
@media (max-width: 1199px){
    .price{
        &-block{
            justify-content: center;
            &__card{
                margin: 20px;
            }
        }
    }
}
@media (max-width: 400px){
    .price{
        &-block{
            &__card{
                margin: 10px;
            }
        }
        &-card{
            &__button{
                height: 60px;
                padding: 10px;
            }
            &__text{
                &:hover{
                    .price-card__button{
                        bottom: -60px;
                    }
                }
            }
        }
    }
}